.pagContainer {
  display: flex;
  width: 48%;
  justify-content: space-between;
  list-style-type: none;
  color: #522a0d;
  font-size: 20px;
}
.number {
  cursor: pointer;
}
.number:hover {
  color: black;
}
.active {
  color: black;
}